<header>
    <div class="nav-container">
        <img src ="assets/tabularasa.jpg" alt="logo" class="logo">
        <nav>
            <ul>
                <li><a href="/">Home</a></li>
                <li><a href="/info">Tabula Rasa Info</a></li>
                <li><a href="/recruitment">Tabula Rasa Recruitment</a></li>
                <li><a href="/contact">Tabula Rasa Contact</a></li>
            </ul>
        </nav>
    </div>
</header>
<div class="contactstuff">
    <div class="pic">
        <img src ="assets/checkmark.jpg">
    </div>
    <span>Thanks for contacting us - an officer will get back with you shortly.</span>
</div>