<header>
    <div class="nav-container">
        <img src ="assets/tabularasa.jpg" alt="logo" class="logo">
        <nav>
            <ul>
                <li><a class='home' href="/">Home</a></li>
                <li><a class="active-page" href="/info">Tabula Rasa Info</a></li>
                <li><a class="recruit" href="/recruitment">Tabula Rasa Recruitment</a></li>
                <li><a class="contact" href="/contact">Tabula Rasa Contact</a></li>
            </ul>
        </nav>
    </div>
</header>

<div class="guildinfodescription" style="color: gold; mix-blend-mode: screen;">
  <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Netus et malesuada fames ac turpis egestas. At tellus at urna condimentum mattis pellentesque id nibh. Aliquet enim tortor at auctor urna nunc id cursus. Id leo in vitae turpis massa sed. Ac placerat vestibulum lectus mauris ultrices eros in. Pretium fusce id velit ut tortor pretium viverra suspendisse potenti. Arcu non sodales neque sodales ut etiam sit amet. Nibh ipsum consequat nisl vel pretium lectus. Sed nisi lacus sed viverra tellus in hac habitasse platea. Phasellus faucibus scelerisque eleifend donec pretium vulputate sapien nec. Sollicitudin aliquam ultrices sagittis orci a scelerisque purus.</p>
  <p>Ut consequat semper viverra nam libero. Maecenas volutpat blandit aliquam etiam erat velit. Neque viverra justo nec ultrices dui. Lectus sit amet est placerat in egestas erat imperdiet. Cras ornare arcu dui vivamus arcu. Tincidunt id aliquet risus feugiat in. Urna nunc id cursus metus aliquam eleifend. Tempor orci dapibus ultrices in. Volutpat consequat mauris nunc congue nisi vitae suscipit tellus mauris. Dui nunc mattis enim ut tellus elementum. Ut pharetra sit amet aliquam id diam. Enim eu turpis egestas pretium aenean pharetra magna. Sociis natoque penatibus et magnis.</p>
  <p>Ut placerat orci nulla pellentesque dignissim. Integer eget aliquet nibh praesent tristique magna sit. Mi bibendum neque egestas congue quisque. Maecenas volutpat blandit aliquam etiam erat. Rhoncus dolor purus non enim. Tincidunt dui ut ornare lectus sit amet. Quam id leo in vitae turpis. At auctor urna nunc id. Aenean vel elit scelerisque mauris pellentesque pulvinar pellentesque. Praesent elementum facilisis leo vel fringilla est.</p>  
</div>
<div class="info-media">
    <div class="info-pics">
        <div class="col">
            <img src="assets/infopics/pic1.png">
        </div>
        <div class="col">
            <img src="assets/infopics/pic2.jpg">
        </div>
        <div class="col">
            <img src="assets/infopics/pic3.jpg">
        </div>
        <div class="col">
            <img src="assets/infopics/pic4.jpg">
        </div>
        <div class="col">
            <img src="assets/infopics/pic5.jpg">
        </div>
        <div class="col">
            <img src="assets/infopics/pic6.jpg">
        </div>
        <div class="col">
        </div>
        <div class="col">
            <img src="assets/infopics/pic7.jpg">
        </div>
        <div class="col">
        </div>
        <div class="col">
            <img src="assets/infopics/pic8.png">
        
        </div>
        <div class="col">
            <img src="assets/infopics/pic9.jpeg">
        </div>
        <div class="col">
            <img src="assets/infopics/pic10.jpeg">
        </div>
        <div class="col">
            <img src="assets/infopics/pic11.jpeg">
        </div>
    </div>
    <div class="info-vids" >
        <ul>
            <li><iframe width="787" height="443" src="https://www.youtube.com/embed/eWZPpuRFZk8" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe></li>
            <li><iframe width="787" height="443" src="https://www.youtube.com/embed/6K5XdlYnc_M" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe></li>
            <li></li>
        </ul>
    </div>

</div>
