<header>
    <div class="nav-container">
        <img src ="assets/tabularasa.jpg"alt="logo" class="logo">
        <nav>
            <ul>
                <li><a class='home' href="/">Home</a></li>
                <li><a class="info" href="/info">Tabula Rasa Info</a></li>
                <li><a class="active-page" href="/recruitment">Tabula Rasa Recruitment</a></li>
                <li><a class="contact" href="/contact">Tabula Rasa Contact</a></li>
            </ul>
        </nav>
    </div>
</header>

<div class='siderecruit'>
    <div class="cols">
        <div class="warcraftcontainer">
            <img src ="assets/wowposter.jpg"alt="World of Warcraft" class="warcraft" id="wowposter">
            <div class="hovertext">
                <div class='text'>
                <div id ="wowrecruittext" class="recruittext">
                    All members are welcome to join the guild for M+ and general guild activities.<br>If you're interested in a casual membership just contact an officer in-game, over battle.net, or through Discord. <br>
                    Unlisted specializations may be considered for the raid team regardless of current needs.<br>
                    <br><span id="discord">Please visit our <a href="https://discordapp.com/invite/7MtKT6H">discord</a> to apply for a raid team position.</span><br>
                    <br>
                    <span id="raidtimes">Raid Team 01 - Lion's Guard<br>Saturday/Sunday 5PM-8PM CST.</span><br>
                </div>

                <div class="wowrecruitcontainer">
                    <table class="recruitment">
                    <tbody>
                    <tr><!-- Shaman -->
                    <td><img class="classicon" style="display:block;" width="75%;" height="75%;"src="/assets/wowicons/shaman.png" /></td>
                    <td class = "classtext" style="color:#2259ff;">Shaman</td>
                    <td class="open"></td>
                    <td class="special"><img style="display:block;" width="75%" height="75%" src="/assets/wowicons/shaman/enhancement.png" /></td>
                    <td class="closed"><img style="display:block;" width="75%" height="75%" src="/assets/wowicons/shaman/elemental.png" /></td>
                    <td class="closed"><img style="display:block;" width="75%" height="75%" src="/assets/wowicons/shaman/resto.png" /></td>
                    </tr>
                    <tr><!-- Hunter -->
                    <td><img class="classicon" style="display:block;" width="75%;" height="75%;" src="/assets/wowicons/hunter.png" /></td>
                    <td class = "classtext"  style="color:#aad372;">Hunter</td>
                    <td class="open"></td>
                    <td class="open"><img style="display:block;" width="75%" height="75%" src="/assets/wowicons/hunter/marksman.png" /></td>
                    <td class="open"><img style="display:block;" width="75%" height="75%" src="/assets/wowicons/hunter/beast.png" /></td>
                    <td class="open"><img style="display:block;" width="75%" height="75%" src="/assets/wowicons/hunter/survival.png" /></td>
                    </tr>
                    <tr><!-- Demon Hunter -->
                    <td><img class="classicon" style="display:block;" width="75%;" height="75%;" src="/assets/wowicons/demon.png" /></td>
                    <td class = "classtext" style="color:#a330c9;">Demon Hunter</td>
                    <td class="open"></td>
                    <td class="open"></td>
                    <td class="closed"><img style="display:block;" width="75%" height="75%" src="/assets/wowicons/demon/havoc.png" /></td>
                    <td class="closedDH"><img style="display:block;" width="75%" height="75%" src="/assets/wowicons/demon/vengeance.png" /></td>
                    </tr>
                    <tr><!-- Death Knight -->
                    <td><img class="classicon" style="display:block;" width="75%;" height="75%;" src="/assets/wowicons/dk.png" /></td>
                    <td class = "classtext"  style="color:#c41e34;">Death Knight</td>
                    <td class="open"></td>
                    <td class="closed"><img style="display:block;" width="75%" height="75%" src="/assets/wowicons/dk/blood.png" /></td>
                    <td class="closed"><img style="display:block;" width="75%" height="75%" src="/assets/wowicons/dk/unholy.png" /></td>
                    <td class="closed"><img style="display:block;" width="75%" height="75%" src="/assets/wowicons/dk/frost.png" /></td>
                    </tr>
                    <tr><!-- Warlock -->
                    <td ><img class="classicon" style="display:block;" width="75%;" height="75%;" src="/assets/wowicons/warlock.png" /></td>
                    <td class = "classtext" style="color:#9382c9;">Warlock</td>
                    <td class="open"></td>
                    <td class="open"><img style="display:block;" width="75%" height="75%" src="/assets/wowicons/warlock/affliction.png" /></td>
                    <td class="open"><img style="display:block;" width="75%" height="75%" src="/assets/wowicons/warlock/demon.png" /></td>
                    <td class="open"><img style="display:block;" width="75%" height="75%" src="/assets/wowicons/warlock/destro.png" /></td>
                    </tr>
                    <tr><!-- Druid -->
                    <td ><img class="classicon" style="display:block;" width="75%;" height="75%;" src="/assets/wowicons/druid.png" /></td>
                    <td class = "classtext" style="color:#ff7c0a;">Druid</td>
                    <td class="open"><img style="display:block;" width="75%" height="75%" src="/assets/wowicons/druid/guardian.png" /></td>
                    <td class="closed"><img style="display:block;" width="75%" height="75%" src="/assets/wowicons/druid/feral.png" /></td>
                    <td class="closed"><img style="display:block;" width="75%" height="75%" src="/assets/wowicons/druid/balance.png" /></td>
                    <td class="closed"><img style="display:block;" width="75%" height="75%" src="/assets/wowicons/druid/resto.png" /></td>
                    </tr>
                    <tr><!-- Warrior -->
                    <td ><img class="classicon" style="display:block;" width="75%;" height="75%;" src="/assets/wowicons/warrior.png" /></td>
                    <td class = "classtext" style="color:#c69b6a;">Warrior</td>
                    <td class="open"></td>
                    <td class="closed"><img style="display:block;" width="75%" height="75%" src="/assets/wowicons/warrior/prot.png" /></td>
                    <td class="closed"><img style="display:block;" width="75%" height="75%" src="/assets/wowicons/warrior/arms.png" /></td>
                    <td class="closed"><img style="display:block;" width="75%" height="75%" src="/assets/wowicons/warrior/fury.png" /></td>
                    </tr>
                    <tr><!-- Mage -->
                    <td ><img class="classicon" style="display:block;" width="75%;" height="75%;" src="/assets/wowicons/mage.png" /></td>
                    <td class = "classtext" style="color:#68ccef;">Mage</td>
                    <td class="open"></td>
                    <td class="open"><img style="display:block;" width="75%" height="75%" src="/assets/wowicons/mage/frost.png" /></td>
                    <td class="open"><img style="display:block;" width="75%" height="75%" src="/assets/wowicons/mage/fire.png" /></td>
                    <td class="open"><img style="display:block;" width="75%" height="75%" src="/assets/wowicons/mage/arcane.png" /></td>
                    </tr>
                    <tr><!-- Monk -->
                    <td ><img class="classicon" style="display:block;" width="75%;" height="75%;" src="/assets/wowicons/monk.png" /></td>
                    <td class = "classtext" style="color:#00ffba;">Monk</td>
                    <td class="open"></td>
                    <td class="closed"><img style="display:block;" width="75%" height="75%" src="/assets/wowicons/monk/brew.png" /></td>
                    <td class="closed"><img style="display:block;" width="75%" height="75%" src="/assets/wowicons/monk/mist.png" /></td>
                    <td class="closed"><img style="display:block;" width="75%" height="75%" src="/assets/wowicons/monk/windwalker.png" /></td>
                    </tr>
                    <tr><!-- Paladin -->
                    <td ><img class="classicon" style="display:block;" width="75%;" height="75%;" src="/assets/wowicons/paladin.png" /></td>
                    <td class = "classtext" style="color:#ed88b5;">Paladin</td>
                    <td class="open"></td>
                    <td class="closed"><img style="display:block;" width="75%" height="75%" src="/assets/wowicons/paladin/prot.png" /></td>
                    <td class="closed"><img style="display:block;" width="75%" height="75%" src="/assets/wowicons/paladin/holy.png" /></td>
                    <td class="closed"><img style="display:block;" width="75%" height="75%" src="/assets/wowicons/paladin/ret.png" /></td>
                    </tr>
                    <tr><!-- Priest -->
                    <td ><img class="classicon" style="display:block;" width="75%;" height="75%;" src="/assets/wowicons/priest.png" /></td>
                    <td class = "classtext" style="color:#f0ebe0;">Priest</td>
                    <td class="open"></td>
                    <td class="closed"><img style="display:block;" width="75%" height="75%" src="/assets/wowicons/priest/holy.png" /></td>
                    <td class="closed"><img style="display:block;" width="75%" height="75%" src="/assets/wowicons/priest/disc.png" /></td>
                    <td class="open"><img style="display:block;" width="75%" height="75%" src="/assets/wowicons/priest/shadow.png" /></td>
                    </tr>
                    <tr><!-- Rogue -->
                    <td ><img class="classicon" style="display:block;" width="75%;" height="75%;" src="/assets/wowicons/rogue.png" /></td>
                    <td class = "classtext" style="color:#ffed54;">Rogue</td>
                    <td class="open"></td>
                    <td class="closed"><img style="display:block;" width="75%" height="75%" src="/assets/wowicons/rogue/assassination.png" /></td>
                    <td class="closed"><img style="display:block;" width="75%" height="75%" src="/assets/wowicons/rogue/sub.png" /></td>
                    <td class="closed"><img style="display:block;" width="75%" height="75%" src="/assets/wowicons/rogue/outlaw.png" /></td>
                    </tr>
                    </tbody>
                    </table>
                </div>
                </div>
            </div> 
        </div>
    </div>
    <div class="cols">
        <div class="oasiscontainer">
            <a class="pagelink" href="/troasis"><img src ="assets/oasisposter.jpg"alt="Last Oasis" class="oasis" id="oasisposter"></a>
            <div class="hovertext">
                <div class='text'>
                    <div id ="oasisrecruittext" class="recruittext" width="75%">
                        <span id="listhead">What we offer:</span>
                        <ul id ="first">
                            <li>Organized, small to medium scale PvP</li>
                            <li>A fun community</li>
                            <li>Clan consensus on major clan decisions (e.g., technology progression, allies, tiles to move to)</li>
                            <li>Space and choice to contribute to either group or individual progression</li>
                        </ul>
                        <span id="listhead">What we're looking for:</span>
                        <ul id ="second">
                            <li>Specific interest in people that enjoy both sides of the game! Always need more people that can fight and gather.</li>
                            <li>Players who want to have fun, and progress within the safety of a medium-sized group that respects their work and efforts made for the clan as a whole</li>
                            <li>Players who want to get better at the game, and be an effective medium-sized fighting force that is able to effectively combat larger groups through strategy and skill. </li>
                            <li>Smaller clans/groups that are looking to merge while ensuring that their clan identity isn't lost entirely</li>
                            <li>People who possess the ability to get knocked down and stand back up again</li>
                        </ul>
                        <br>
                        Feel free to send a DM, or ping a leader on our <a href="https://discord.gg/4YGNE2n">discord</a> for more information.
                 </div>
                </div>
            </div> 
        </div>
    </div>
</div>

<script>
var wowposter = document.getElementById("wowposter");
var oasisposter = document.getElementById("oasisposter");

var wowtext = document.getElementById("wowrecruittext");
var oasistext = document.getElementById("oasisrecruittext");

wowposter.addEventListener("mouseover", function() {
    wowposter.style.opacity = 0.5;
});

wowposter.addEventListener("mouseout", function() {
    wowposter.style.opacity = 1.0;
});

wowtext.addEventListener("mouseover", function() {
    wowposter.style.opacity = 0.5;
});


oasisposter.addEventListener("mouseover", function() {
    oasisposter.style.opacity = 0.5;
});

oasisposter.addEventListener("mouseout", function() {
    oasisposter.style.opacity = 1.0;
});

oasistext.addEventListener("mouseover", function() {
    oasisposter.style.opacity = 0.5;
});


</script>
