<header>
    <div class="nav-container">
        <img src ="assets/tabularasa.jpg"alt="logo" class="logo">
        <nav>
            <ul>
                <li><a class='home' href="/">Home</a></li>
                <li><a class="info" href="/info">Tabula Rasa Info</a></li>
                <li><a class="recruit" href="/recruitment">Tabula Rasa Recruitment</a></li>
                <li><a class="contact" href="/contact">Tabula Rasa Contact</a></li>
            </ul>
        </nav>
    </div>
</header>
<div id="oasiscontact">
    <span id="oasisheader">Last Oasis Recruitment</span>
    <br>
    <br>
    <span id="listhead">What we offer:</span>
    <ul id ="first">
    <li>Organized, small to medium scale PvP></li>
    <li>A fun community</li>
    <li>Clan consensus on major clan decisions (e.g., technology progression, allies, tiles to move to)</li>
    <li>Space and choice to contribute to either group or individual progression</li>
    </ul>
    <span id="listhead">What we're looking for:</span>
    <ul id ="second">
        <li>Specific interest in people that enjoy both sides of the game! Always need more people that can fight and gather.</li>
        <li>Players who want to have fun, and progress within the safety of a medium-sized group that respects their work and efforts made for the clan as a whole</li>
        <li>Players who want to get better at the game, and be an effective medium-sized fighting force that is able to effectively combat larger groups through strategy and skill. </li>
        <li>Smaller clans/groups that are looking to merge while ensuring that their clan identity isn't lost entirely</li>
        <li>People who possess the ability to get knocked down and stand back up again</li>
    </ul>
    Feel free to send a DM, or ping a leader on our Discord  for more information.
    <span id="discord"><b>Please visit our <a href="https://discord.gg/4YGNE2n">discord</a> to talk with an officer.</b></span>
</div>