<html lang="en">
<head>
  <meta charset="utf-8">
  <title>Tabula Rasa</title>
  <meta name="description" content="HTML">
  <meta name="Peyton">
  <link rel='stylesheet' type='text/css' href='/stylesheets/main.css'/>
</head>

<body>
    <div class="container">
        {{{body}}}
    </div>

</body>
</html>