<!doctype html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <title>HTML Stuff</title>
  <meta name="description" content="HTML">
  <meta name="Peyton">
</head>
<body>
{{{body}}}
</body>
</html>